RewriteEngine On
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule (.*) /%1 [R=302,L]  
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
#ErrorDocument 403 http://localhost/BEC/error-page.php
#ErrorDocument 404 http://localhost/BEC/error-page.php
#ErrorDocument 500 http://localhost/BEC/error-page.php